body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(101, 204, 204);
}

.box{
    z-index: 12;
    display: flex;
    flex-direction: display;
    justify-content: center;
    width: 150px;
    height: 150px;
    border: 4px solid rgb(8, 8, 29);
    background-color: rgb(255, 0, 0);
    margin: 15px
}
.grid-container{
    display: grid;
    grid-template-columns: 400px 50% 20px;
    grid-template-rows: 250px 500px;
    margin: 5px;
    padding: 10px;
    background-color: brown;
}  
.item-1{
    margin-right: 120px;
    padding: 50px 40px;
    color: rgb(136, 255, 0);
    width: 20px;
    height: 90px;
    border-style: groove;
    background-color: rgb(43, 226, 113);
    z-index: 3;
}
.item-2{
    margin: 100px 60px;
    padding: 50px;
    color: rgb(255, 0, 76);
    background-color: azure;
    width: 170px;
    height: 200px;
    border-style: groove;
}
.item-3{
    color: rgb(3, 17, 6);
    width: 270px;
    height: 110px;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
   
}

.item-4{
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 50%;
    z-index: 3;
}
